<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <title>Formulário Noticia</title>
    <h3>Enviar Noticia:</h3>
    <form method="post">
        Titulo:<input type="text" value="" name="titulo" style="break-after: auto">
        Descrição:<input type="text" value="" name="descricao">
        Data:<input type="datetime-local" value="" name="data">
        Outra Informação: <input type="file" value="" name="maisInformacao">
        <button type="submit">Agendar</button>
    </form>
</head>
<body>

</body>
</html>